<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% endblock css %}
    <!-- CARROUSEL-->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="text-center alert-success bg-success {{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container" >
        
        <h1>Configuracion Administrador</h1>
        <hr>
        <hr>
        <hr>
        <hr>
        <tbody>
            <div class="text-center">
                <div class="row" >
                    <div class="col text-center" role="group" aria-label="Basic example">
                        <a href="{% url 'data_user' %}" class="btn btn-success"><h3>Información users<h3></a>
                    </div>
                </div>
            </div>
            <hr>
            <hr>
            <hr>
            <hr>
            <div class="text-center">
                <div class="row" >
                    <div class="col text-center" role="group" aria-label="Basic example">
                        <a href="" class="btn btn-info"><h3>Ver y generar informes<h3></a>
                    </div>
                </div>
            </div>
            <hr>
            <hr>
            <hr>
            <hr>
            
        </tbody>
        
    </div>

{% endblock contenido %} 