<!DOCTYPE html>
{% extends 'web/base.html' %}
{% load static %}
{% block contenido %}
  
    {% block css %}
        <link rel="stylesheet" href="{% static 'app/css/index.css' %}">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock css %}
    <br/>
    <div class=" container title-header text-center" >
        <div class="row">
            <br/>
            <br/>
            <section class="content">
                <h1>Usuarios Registrados</h1>
                <div class="pull-right">
                    <br/>
                        <div class="col-md-8 col-md-offset-2 container">
                            <div class="card">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    Volver al menu de administrador
                                    <a href="{% url 'confi_admin' %}" class="btn btn-primary btn-sm">Volver</a>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="container col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body ">
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        <h1> Cantidad de Usuarios: {{datalen}} </h1>
                                        <br/>
                                        <br/>
                                        {% for i in data %}
                                            <tr data-status="pagado">
                                                    <div class="list-group">
                                                        <div class="list-group">
                                                            <h4 class="title alert-warning">
                                                                <span class="list-group pull-right text-dark">Edad: {{i.age_user}}</span>
                                                                {{i.nom_user}}
                                                                <p>Rut: {{i.rut_user}}</p>
                                                                Email: {{i.email_user}}
                                                                <span class="pull-center pagado">
                                                                    <form id="login-form" class="form" action="/updateing/" method="POST">
                                                                        <label for="remember-me" class="text-info pull-right" name="iduser" id="iduser">id: {{i.id_user}}</label><br>
                                                                        {% csrf_token %}
                                                                        Tipo Usuario: ({{i.tipo_user}})
                                                                        <select type="text" value="Cambia" name="tipo_user" class="form-control" id="tipo_user">
                                                                            <option value="" selected disabled hidden>Cambia aquí</option>
                                                                            <option>Administrador</option>
                                                                            <option>Bodeguero</option>
                                                                            <option>Vendedor</option>
                                                                            <option>Cliente</option>
                                                                        </select>
                                                                        <br>
                                                                        <input type="hidden" id="email_user" name="email_user" value="{{i.email_user}}">
                                                                        <button value="submit" type="submit" name="submit" class="btn btn-warning btn-filter" data-target="pendiente">EDITAR</button>
                                                                    </form>
                                                                        <br>
                                                                        <br>
                                                                    <form id="login-form2" class="form" action="/deleteing/" method="POST">
                                                                        {% csrf_token %}
                                                                        <input type="hidden" id="id_user" name="id_user" value="{{i.id_user}}">
                                                                        <button value="submit" type="submit" name="submit2" class="btn btn-danger btn-filter" data-target="cancelado">ELIMINAR</button>
                                                                    </form>
                                                                </span>    
                                                            </h4>
                                                        </div>
                                                        <hr>
                                                        <hr>
                                                    </div>
                                                </td>
                                            </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
        </div>
    </div>

{% endblock contenido %} 